nav {
    padding: 5px;
    background-color: #010409;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #343b44;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 0;
    gap: 20px;
}

a {
    color: white;
}