.App {
  text-align: center;
  background-color: #0d1117;
  color: white;
}

section {
  padding: 50px 10%;
}

.ProjectCard__div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}